# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm].*.[Tt][Aa][Rr][Gg]
bin/
obj/

# Rider
.idea/

# NuGet
*.nupkg
*.snupkg
*.nuspec